/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/06/2018, 14:33:24
    Author     : Nahuel E Correa
*/

*{
    margin:0;
    padding:0;
}
#header{
    
    background-color: black;
    width: 100%;
    height: 35px;
    padding-left: 80px;
}

h2{
    color: silver;
    size: 12px;
    font-style: italic;
    font-family: sans-serif;
    padding-left: 80px;
}
body{
    background-color: lightgray;
    
}

table{
    
    padding-left: 80px;
}

.muestralog{
    
    color: gainsboro;
}